<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>AP&Me</title>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="titlelogo.png">
</head> 
<body>
  <div class="headerContainer">
    <header>
        <ul>
          <li>
            <img class="logo" src="webLogo.png" height="150px">
          </li>
          <li><a href="/index" class="active">Dashboard</a></li>
          <li><a href="/flashcards">Flashcards</a></li>
          <li><a href="/to-do">To-Do</a></li>
          <li><a href="/classes">Classes</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
    </header>
  </div>
  <div class="container">
    <h1>Hi <%= name %></h1>
    <div>
      <h3>Your Classes: </h3>
      <p id="classes">Classes:</p>
    </div>
   
    <div>
      <h3>Upcoming Events:</h1>
      <p id="events">Upcoming events:</p>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
      <button class="form__button" type="submit">Log Out</button>
    </form>
  </div>
</body>

<style>
body
{
  --color-primary: #08a588;
  --color-primary-dark: #04a083;
  --color-secondary: #252c6a;
  --color-dark: #09866f;
  --color-error: #da2b14;
  --color-success: #0f962c;
  --border-radius: 4px;
  --color-light: #b1ffee;
  
  font: 500 1rem 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: var(--color-primary);
  background-size: cover;
}
.container
{
  width: 1000px;
  max-width: 1000px;
  margin: 1rem;
  padding: 3rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #fff;
}


header
{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 1px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    backdrop-filter: blur(10px);
}
header ul
{
    display: flex;
    align-items: center;
}

.logo
{
  max-width: 150px;
  top: 25px;
  margin-right: 950px;
}

header ul li
{
    list-style: none;
    margin: 10 15px;
    margin-right: 50px;
}


header ul li a
{
    text-decoration: none;
    font-weight: 600;
    color:black;
    padding: 8px 20px;
    font-size: 25px;
    border-radius: 25px;
    margin-bottom: 100px;
    margin-right: 40px;
}
header ul li a:hover,
header ul li a.active
{
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.form__button
{
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background-color: var(--color-primary);
}

#classes
{
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  width: 400px;
}

#events
{
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  width: 400px;
}
.form__button:hover
  {
    background-color: var(--color-dark);
  }
</style>

<script>
  const classesValue = localStorage.getItem('classes');
  document.getElementById("classes").innerHTML = classesValue;
  
  const test = [localStorage.getItem('classes')];
  for (let i = 0; i < test.length; i++) {
   if (test[i] === "AP US History") {
    document.getElementById("events").innerHTML = "Your APUSH exam is on May 5th!";
   } else if (test[i] === "AP Computer Science Principles") {
    document.getElementById("events").innerHTML = "Your AP CSP exam is on May 8th!";
   }
  }

  const todo = localStorage.getItem('todo-test');
  document.getElementById("to-do").innerHTML = todo;
</script>